<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisdom.modules.common.persistence.MerchantsUsersMapper">

    <resultMap id="merchantsUsers" type="MerchantsUsers">
        <id property="id" column="id"/>
        <result property="mercId" column="mercId"/>
        <result property="mercName" column="mercName"/>
        <result property="adminType" column="adminType"/>
        <result property="roleId" column="roleId"/>
        <result property="lang" column="lang"/>
        <result property="email" column="email"/>
        <result property="userName" column="userName"/>
        <result property="passWord" column="passWord"/>
        <result property="lastLoginTime" column="lastLoginTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result property="lastLoginIp" column="lastLoginIp"/>
        <result property="ipLimit" column="ipLimit"/>
        <result property="delFlag" column="delFlag"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result property="lastUpdateTime" column="lastUpdateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result property="versionNo" column="versionNo"/>
    </resultMap>
    <sql id="Base_Column_List">
        merchantsUsers.id as id ,<!--  -->
        merchantsUsers.merc_id as mercId ,<!-- 商户id -->
        merchantsUsers.admin_type as adminType ,<!-- 管理员类型 -->
        merchantsUsers.role_id as roleId ,
        merchantsUsers.lang as lang ,<!-- 管理员类型 -->
        merchantsUsers.email as email ,<!-- 管理员类型 -->
        merchantsUsers.user_name as userName ,<!-- 用户名 -->
        merchantsUsers.last_login_time as lastLoginTime ,<!-- 最后登录时间 -->
        merchantsUsers.last_login_ip as lastLoginIp ,<!-- 最后登录ip -->
        merchantsUsers.ip_limit as ipLimit ,<!-- ip限制 -->
        merchantsUsers.del_flag as delFlag ,<!-- 是否删除 -->
        merchantsUsers.create_time as createTime ,<!-- 创建时间 -->
        merchantsUsers.last_update_time as lastUpdateTime ,<!-- 最后更新时间 -->
        merchantsUsers.version_no as versionNo
    </sql>
    <select id="list" parameterType="java.util.Map" resultMap="merchantsUsers">
        select
        merchant.merc_name as mercName,
        <include refid="Base_Column_List"/>
        from merchant_user merchantsUsers,merchant merchant
        <where>
            merchantsUsers.merc_id=merchant.merc_id
            and merchantsUsers.del_flag=0
            and merchant.del_flag=0
            <if test="id != null"><!--  条件判断 -->
                and merchantsUsers.id = #{id}
            </if>
            <if test="mercId != null"><!-- 商户id 条件判断 -->
                and merchantsUsers.merc_id = #{mercId}
            </if>
            <if test="adminType != null"><!-- 管理员类型 条件判断 -->
                and merchantsUsers.admin_type = #{adminType}
            </if>
            <if test="roleId != null"><!-- 管理员类型 条件判断 -->
                and merchantsUsers.role_id = #{roleId}
            </if>
            <if test="userName != null"><!-- 用户名 条件判断 -->
                and merchantsUsers.user_name = #{userName}
            </if>
            <if test="passWord != null"><!-- 密码 条件判断 -->
                and merchantsUsers.pass_word = #{passWord}
            </if>
            <if test="lastLoginTime != null"><!-- 最后登录时间 条件判断 -->
                and merchantsUsers.last_login_time = #{lastLoginTime}
            </if>
            <if test="lastLoginIp != null"><!-- 最后登录ip 条件判断 -->
                and merchantsUsers.last_login_ip = #{lastLoginIp}
            </if>
            <if test="ipLimit != null"><!-- ip限制 条件判断 -->
                and merchantsUsers.ip_limit = #{ipLimit}
            </if>
            <if test="delFlag != null"><!-- 是否删除 条件判断 -->
                and merchantsUsers.del_flag = #{delFlag}
            </if>
            <if test="createTime != null"><!-- 创建时间 条件判断 -->
                and merchantsUsers.create_time = #{createTime}
            </if>
            <if test="lastUpdateTime != null"><!-- 最后更新时间 条件判断 -->
                and merchantsUsers.last_update_time = #{lastUpdateTime}
            </if>
            <if test="versionNo != null"><!-- 版本号 条件判断 -->
                and merchantsUsers.version_no = #{versionNo}
            </if>
        </where>
    </select>

    <select id="getAdminMail" resultType="string">
        select group_concat(merchantsUsers.email) from merchant_user merchantsUsers,merchant merchant
        where merchantsUsers.merc_id=merchant.merc_id  and merchantsUsers.del_flag=0
        and merchantsUsers.admin_type=3 and (merchant.merc_id='000000' or merchant.merc_id=#{mercId})
    </select>

    <select id="getByUniqueKey" parameterType="string" resultMap="merchantsUsers">
        select
        merchant.merc_name as mercName,
        merchantsUsers.pass_word as passWord ,<!-- 密码 -->
        <include refid="Base_Column_List"/>
        from merchant_user merchantsUsers,merchant merchant
        where merchantsUsers.merc_id=merchant.merc_id
        and merchantsUsers.user_name = #{param1}
        and merchantsUsers.del_flag=0
        limit 1
    </select>

    <select id="getMercUserCountByRoleId" parameterType="String" resultType="Integer">
    select
    count(id)
    from merchant_user merchantsUsers
    WHERE
    merchantsUsers.role_id = #{roleId}
    and merchantsUsers.del_flag=0
    </select>

    <update id="update" parameterType="MerchantsUsers">
        update merchant_user
        <set>
            <if test="mercId != null"><!-- 商户id 条件判断 -->
                merc_id = #{mercId} ,<!-- 商户id -->
            </if>
            <if test="adminType != null"><!-- 管理员类型 条件判断 -->
                admin_type = #{adminType} ,<!-- 管理员类型 -->
            </if>
            <if test="roleId != null">
                role_id = #{roleId} ,
            </if>
            <if test="lang != null"><!-- 管理员类型 条件判断 -->
                lang = #{lang} ,<!-- 管理员类型 -->
            </if>
            <if test="email != null"><!-- 管理员类型 条件判断 -->
                email = #{email} ,<!-- 管理员类型 -->
            </if>
            <if test="passWord != null"><!-- 密码 条件判断 -->
                pass_word = #{passWord} ,<!-- 密码 -->
            </if>
            <if test="lastLoginTime != null"><!-- 最后登录时间 条件判断 -->
                last_login_time = #{lastLoginTime} ,<!-- 最后登录时间 -->
            </if>
            <if test="lastLoginIp != null"><!-- 最后登录ip 条件判断 -->
                last_login_ip = #{lastLoginIp} ,<!-- 最后登录ip -->
            </if>
            <if test="ipLimit != null"><!-- ip限制 条件判断 -->
                ip_limit = #{ipLimit} ,<!-- ip限制 -->
            </if>
            <if test="delFlag != null"><!-- 是否删除 条件判断 -->
                del_flag = #{delFlag} ,<!-- 是否删除 -->
            </if>
            last_update_time = now(),
            version_no = version_no + 1
        </set>
        where user_name = #{userName}
    </update>

    <insert id="insert" parameterType="MerchantsUsers">
        insert into merchant_user(
            merc_id,
            admin_type,
            role_id,
            lang,
            email,
            user_name,
            pass_word,
            last_login_time,
            last_login_ip,
            ip_limit,
            del_flag,
            create_time,
            last_update_time,
            version_no        )values(
            #{mercId},
            #{adminType},
            #{roleId},
        <if test="lang == null"><!-- 管理员类型 条件判断 -->
            lang = 'zh_CN' ,<!-- 管理员类型 -->
        </if>
        <if test="lang != null"><!-- 管理员类型 条件判断 -->
            lang = #{lang} ,<!-- 管理员类型 -->
        </if>
            #{email},
            #{userName},
            #{passWord},
            #{lastLoginTime},
            '0.0.0.0',
            #{ipLimit},
            0,
            now(),now(),0        )
    </insert>

    <!-- 物理删除：逻辑删除 -->
    <delete id="batchRemove" parameterType="List">
        update  merchant_user set del_flag=1
        <where>
             user_name IN
            <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            <if test="mercId != null"><!-- 商户id 条件判断 -->
                and merc_id=#{mercId}
            </if>
        </where>
    </delete>
</mapper>
